.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#project {
  background-color: #e2edff;
}

#project p {
  height: 100px;
}

.index {
  padding-top: 5rem;
}

.myProjects {
  padding-top: 6rem;
  background-color: #e2edff;
}

.myProjects p {
  font-size: 10pt;
  height: 100px;
}
